/* -----------F O N T S------------ */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;

    background-color: #202125;
}

nav{
    width: 100%;
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;
   

    border-bottom: 0.1vw solid #b1b1b5;
    
}


#nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
}




nav h5 a{
    padding: 0vw 3vw;

    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    text-decoration: none;
    color: #aaaaac;

    font-size: 1.1vw;
    font-weight: 300;
    transition: all 0.2s ease;

    text-transform: uppercase;
}


nav h5 a:hover{
    color: white;
    font-size: 1.2vw;
    margin: 0vw 1vw;
    
}

#star{ 
    font-size: 1.3vw;

    animation-name: rotation;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}


@keyframes rotation {
    from{
        rotate: 0deg;
    }
    to{
        rotate: 360deg;
    }
    
}


section{
    width: 100%;
    height: 90vh;

    display: flex;
}

section #left{
    width: 53%;
    height: 100%;
    
    /* background-color: coral; */
}


section #left #left-content-container{
    padding: 2vw 3vw;
}

#left-content-container h1{
    font-family: "Noto Sans", sans-serif;
    font-size: 3vw;
    color: #ffffff;
    text-transform: uppercase;
}

#left-content-container-data{
    margin-top: 1vw;
    margin-left: 4vw; 
    border-left: 1px solid white;
    padding: 0px 3vw;
}

#left-content-container-data p{
    font-family: "Noto Sans", sans-serif;
    color: #a7a7a9;

    line-height: 28px;
    /* font-size: 16px; */
    font-size: 1vw;
}

#left-content-container-data h3{
    margin-top: 0.8vw;

    font-family: "Noto Sans", sans-serif;
    font-size: 2vw;
    color: #ffffff;
    text-transform: uppercase;
}

#left-content-container-data #points{
    width: 120%;
}

#left-content-container-data #points p{
    font-family: "Noto Sans", sans-serif;
    color: #a7a7a9;

    line-height: 28px;
    /* font-size: 16px; */
    font-size: 1vw;
}





section #right{
    width: 47%;
    height: 100%;

    /* background-color: cadetblue; */

    padding-top: 2vw;
}

#float{
    position: absolute;
    top:80%;
    left: 25%;
    /* display: none; */
}

#float p{
    font-family: "Noto Sans", sans-serif;
    color: #ffffff;

    line-height: 28px;
    font-size: 1.3vw;

    text-transform:uppercase;
    font-weight:700;

}

#float a{

    position: absolute;
    left: 30%;
    top: 200%;

    border: 2px solid white;

    text-decoration: none;
    color: white;

    font-family: "Noto Sans", sans-serif;
    font-size: 1vw;
    text-transform: uppercase;
    letter-spacing: 2px;

    background-color: transparent;
    padding: 1vw 2vw;
}
/* 
#float button:hover{
} */

#float  a:hover{
    background-color: white;
    color: #202125;
}

@media (max-width:600px){
    #right{
        display: none;
        width: 0%;
        height: 0%;
    }
    #right img{
        display: none;
    }

    #star{
        /* display: none; */
        font-size: 4vw;
    }

    nav{
        height: 8vh;
    }

    nav h5 a{
        font-size: 3.8vw; 
    }

    nav h5 a:focus{
        color: white;
        font-size: 4vw;
        margin: 0vw 1vw;
    }    
    
    




    section #left{
        width: 100%;
        height: 100%;
    }

    #left-content-container{
        /* padding: 5vw 3vw; */
        margin-top: 3vw;
        
    }

    #left-content-container h1{
        font-size: 5vw;
       
    }

    #left-content-container-data p{ 
        line-height: 5vw;
        font-size: 3vw;
    }

    #left-content-container-data h3{
        margin-top: 2vw;    
        font-size: 5vw;
    }
    #left-content-container-data #points{
        width: 100%;
    }
    #left-content-container-data #points p{
        margin-top: 1.5vw;
    
        line-height:5vw;
        font-size: 3vw;
    }

    #float{
        top:70%;
        left:0%;
    }

    #float p{
        font-size: 3vw;
        text-align: center;
    
    }

    #float a{
        left: 25%;
        top: 140%;   
        font-size: 3vw;
    }

    #float  a:focus{
        background-color: white;
        color: #202125;
    }
    
    
    
}